@if(entidad) {
<div class="card-wrapper" [id]="entidad.nid" [class.active]="anchor === entidad.nid">
  <mat-card class="card" (click)="center()">
    <mat-card-header>
      <div mat-card-avatar class="header-image" [class]="entidad.tipo"></div>
      <mat-card-title>{{entidad.nombre}}</mat-card-title>
      <mat-card-subtitle>{{entidad.subtitulo}}</mat-card-subtitle>
    </mat-card-header>
    @if(entidad.logo !== '') {<img class="card-image" mat-card-image [srcset]="entidad.logo" [alt]="entidad.nombre">}
    <mat-card-content>
      <h5>
        {{ entidad.titulo_sede }}
      </h5>
      <p>{{ entidad.direccion }}<br />{{ entidad.provincia }}</p>
    </mat-card-content>
  </mat-card>
</div>
}