@use '@angular/material'as mat;

mat-card {
  @include mat.elevation(1);
  cursor: pointer;
  &:hover {
    background-color: #f1f1f1;
  }
  &:active {
    background-color: #e5e5e5;
  }
}

.card-wrapper {
  height: 100%;
}

.card {
  word-break: break-word;
  display: flex;
}

.card-wrapper {
  padding-top: 10px;
}

.header-image {
  background-size: cover;

  &.cooperativas {
    background-image: url('/assets/icon/icon_cooperativas.png');
  }

  &.ferias {
    background-image: url('/assets/icon/icon_ferias.png');
  }

  &.medios {
    background-image: url('/assets/icon/icon_medios.png');
  }

  &.universidades {
    background-image: url('/assets/icon/icon_universidades.png');
  }

  &.chasqui {
    background-image: url('/assets/icon/icon_chasqui.png');
  }
}

mat-card-title {
  font-size: 14px;
  font-weight: 500;
}

h5 {
  margin-bottom: 0;
}

.card-image {
  padding: 16px;
  display: block;
}