<div class="wrapper">
  <h3>Descubrí ESSApp</h3>
  <p>
    ¿Dónde encuentro una cooperativa u otra organización de la Economía Social y Solidaria? ¿Dónde puedo adquirir sus
    productos y servicios de buena calidad, a un precio justo y de manera segura? ¿Dónde puedo informarme de manera
    alternativa? ¿Dónde puedo encontrar a la banca solidaria?
  </p>
  <p>
    En ESSApp podrás buscar a las organizaciones de la Economía Social y Solidaria: cooperativas, medios comunitarios,
    centros culturales, ferias, emprendimientos, comercializadoras, mercados territoriales y otras experiencias. Podrás
    acceder a los productos y servicios de la ESS más cercanos a tu ubicación. Podrás informarte a través de medios
    comunitarios y alternativos y también acceder a la única agenda cultural y solidaria de nuestro país.
  </p>
  <p>
    Podes acceder a ESSApp desde la aplicación móvil disponible en el Play Store y el App Store, así como también a
    través
    de la página web www.essapp.coop.
  </p>
  <p>
    Si formas parte de una organización que todavía no está mapeada, te invitamos junto a tus compañeros/as a
    registrarte
    y completar tu perfil con imágenes, actividades, horarios y toda aquello que consideren relevante compartir y
    publicar. Tu organización no puede quedarse afuera. ¡Súmala a la comunidad de ESSApp!
  </p>
  <p>
    Equipo ESSApp.
  </p>
</div>