APP_ENV=dev
PORT=3000
COOKIE_SECRET=gk5byowslk
SUPERADMIN_USERNAME=superadmin
SUPERADMIN_PASSWORD=superadmin
DB_HOST=localhost
DB_PORT=5432
DB_NAME=essapp
DB_USERNAME=postgres
DB_PASSWORD=password
DB_SCHEMA=public
ASSET_URL_PREFIX=http://localhost:3000/assets/
SUPERADMIN_EMAIL=example@mail.com
VENDURE_DISABLE_TELEMETRY=true

EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASSWORD=