<div class="wrapper">
  <div class="panel-pane pane-page-title">



    <div class="pane-content">
      <h3>Términos y condiciones de ESSApp</h3>
    </div>


  </div>
  <div class="panel-separator"></div>
  <div class="panel-pane pane-entity-view pane-node">



    <div class="pane-content">
      <article id="node-14459" class="node node-pagina clearfix" about="/terminos-y-condiciones"
        typeof="sioc:Item foaf:Document">
        <header>
          <span property="dc:title" content="Términos y condiciones de ESSApp" class="rdf-meta element-hidden"></span>
        </header>
        <div class="field field-name-body field-type-text-with-summary field-label-hidden">
          <div class="field-items">
            <div class="field-item even" property="content:encoded">
              <p>Los usuarios que utilicen los servicios ofrecidos por la aplicación móvil ESSApp y/o el Sitio Web <a
                  href="http://www.essapp.coop">www.essapp.coop</a> (ambos, en adelante, el Sitio) deberán aceptar y
                ajustarse a los términos y condiciones que se describen a continuación:</p>
              <p><strong>1. Objeto.</strong></p>
              <p>El Instituto Movilizador de Fondos Cooperativos (en adelante, el IMFC) ofrece a través del Sitio un
                servicio que le permitirá a los usuarios localizar en un mapa las organizaciones de la Economía Social y
                Solidaria (en adelante, ESS), buscar información de sus productos y servicios, acceder a una agenda
                cultural y solidaria, registrar una organización, entre otras funcionalidades.</p>
              <p><strong>2. Acceso al Sitio.</strong></p>
              <p>A los efectos de los presentes términos y condiciones, se considerará usuario a toda persona humana y/o
                jurídica que accediere al Sitio, se encuentre o no registrada.</p>
              <p>2.1. Los usuarios podrán acceder al Sitio sin registrarse, para realizar las siguientes funciones:
                Visualizar Organizaciones de la ESS, consultar la Agenda de la ESS, Buscar las Organizaciones de la ESS
              </p>
              <p>2.2. Los usuarios que sean organizaciones de la ESS podrán acceder al Sitio, registrarse, y realizar
                -además- las siguientes funciones: Enriquecer su perfil, publicar eventos de su organización, crear
                promociones y anuncios.</p>
              <p>Las organizaciones de la ESS que ya estuvieren incorporadas en el mapa del Sitio, deberán registrarse
                siguiendo las instrucciones que a continuación se detallan: Para completar su perfil, cargar los eventos
                y las novedades de tu organización ingresar a <a
                  href="https://www.essapp.coop/user">https://www.essapp.coop/user</a> con la dirección a la que se le
                &nbsp;envió el correo electrónico &nbsp;y hacer click en “solicitar una nueva contraseña”.&nbsp;</p>
              <p>Las organizaciones de la ESS que no estuvieren incorporadas en el mapa del Sitio, deberán registrarse
                en la opción <a
                  href="http://www.essapp.coop/sumá-tu-proyecto">https://www.essapp.coop/sumá-tu-proyecto</a> Para que
                estas organizaciones puedan acceder al Sitio, deberán contar previamente con una validación de los datos
                que operará de la siguiente forma: un administrador de la plataforma validará los datos y autorizará la
                nueva entidad para ser visualizada en la plataforma.</p>
              <p>En todos los casos, los usuarios podrán consultar si ya se encuentran incorporados en el mapa del
                Sitio, ingresando a la opción <a
                  href="http://www.essapp.coop/buscador">https://www.essapp.coop/buscador</a></p>
              <p>Una vez registrado, el usuario podrá acceder a su perfil mediante el ingreso de su dirección de correo
                electrónico y una clave de seguridad. El usuario se obliga a mantener la confidencialidad de su clave de
                seguridad, siendo el único responsable por todas las operaciones realizadas desde su perfil.</p>
              <p><strong>3. Comisiones.</strong></p>
              <p>Actualmente, la utilización del Sitio se encuentra bonificada. En el futuro se podrán cobrar comisiones
                y/o cargos por el uso de ciertas funcionalidades, situación que será debidamente notificada al usuario
                con antelación a su aplicación.&nbsp;</p>
              <p><strong>4. Responsabilidad.</strong></p>
              <p>El IMFC no es responsable de los artículos, mensajes, comentarios, archivos, imágenes, publicidades,
                eventos, servicios y/o productos ofrecidos, garantías, información y todo otro material (en adelante, el
                Contenido) que hubiera sido publicado, anunciado, vinculado o transmitido a través del Sitio, u obtenido
                a partir de éste. El IMFC no garantiza la ubicación de los puntos de atención, ni la veracidad de los
                descuentos, beneficios y/o eventos anunciados a través del Sitio.&nbsp;</p>
              <p>El usuario se obliga a evaluar y asumir los riesgos derivados del uso del Contenido. El usuario declara
                conocer que al utilizar el Sitio podrá estar expuesto a Contenido impreciso o inexacto, y que bajo
                ninguna circunstancia el IMFC será responsable por ello, o por las pérdidas, daños y perjuicios que el
                usuario pueda sufrir como resultado del uso de un Contenido publicado o que de otra forma hubiera
                accedido mediante el uso del Sitio.&nbsp;</p>
              <p>El usuario será el único responsable por el Contenido que hubiere publicado, anunciado, vinculado o
                transmitido a través del Sitio, y de las consecuencias derivadas de ello. Respecto del Contenido, el
                usuario afirma y garantiza que es dueño o posee las patentes necesarias, derechos, permisos, marcas
                registradas u otros derechos de propiedad, para usar y autorizar su uso al IMFC y a los usuarios del
                Sitio que accedieren al Contenido. El usuario afirma y garantiza que posee el expreso consentimiento de
                cada persona individualmente identificada en el Contenido publicado, anunciado, vinculado o transmitido
                a través del Sitio.&nbsp;</p>
              <p>El Sitio podrá contener enlaces a otros sitios que no guardan relación alguna con el IMFC, ni están
                bajo su control. El IMFC no realiza manifestaciones ni otorga garantías respecto de la precisión o la
                autenticidad de la información contenida en dichos sitios, quedando bajo responsabilidad de los usuarios
                la conexión que realicen con los mismos.</p>
              <p>El IMFC no asumirá responsabilidad por los inconvenientes que el usuario tuviera con el equipo hardware
                y/o software utilizados para conectarse con este servicio, fallas de equipos o líneas y otras
                contingencias, cualquiera fuera el origen, que impidan el normal funcionamiento del Sitio, como así
                respecto de aquellos relacionados y/u ocasionados por el prestador del servicio de telefonía celular y/o
                servicio de Internet.<br>
                &nbsp;<br>
                El IMFC no es responsable de las relaciones que surjan entre los usuarios del Sitio. Esto incluye, sin
                carácter restrictivo, la prestación de servicios, asistencia a eventos, acceso a descuentos
                promocionales, veracidad de la información, entre otras relaciones. El usuario declara conocer y aceptar
                que el IMFC no será responsable de las pérdidas o daños en que pueda incurrir como resultado de las
                relaciones generadas por el uso del Sitio.</p>
              <p>El IMFC se reserva el derecho de decidir si el Contenido es apropiado, y de remover Contenido sin
                previo aviso y a su entera discreción. Dicha circunstancia será debidamente notificada al usuario.</p>
              <p>En todos los casos, los usuarios se comprometen a mantener indemne al IMFC de cualquier reclamo y/o
                sanción que pudiere surgir con motivo del contenido publicado, anunciado, vinculado o transmitido a
                través del Sitio.</p>
              <p><strong>5. Publicidad.</strong></p>
              <p>El usuario podrá editar su perfil para agregar anuncios publicitarios y/u ofrecer descuentos o
                beneficios a los usuarios que accedan al Sitio. El usuario será único responsable por el ofrecimiento
                publicitario que realice a través del Sitio, para lo cual declara conocer y se compromete a cumplir
                todos y cada uno de los requisitos establecidos por la normativa vigente en materia de publicidad y
                defensa del consumidor.</p>
              <p>El usuario se compromete a no realizar publicidad con contenido falso, erróneo, abusivo,
                discriminatorio o perjudicial y/o peligroso para los usuarios. El usuario declara conocer que las
                precisiones formuladas en sus anuncios publicitarios y los beneficios ofrecidos lo obligan frente a los
                restantes usuarios.</p>
              <p>El usuario acepta mantener indemne y ajeno al IMFC, por todo reclamo y/o sanción que tuviera su origen
                en publicidades de esas características.</p>
              <p><strong>6. Propiedad intelectual.</strong></p>
              <p>Los contenidos de las pantallas relativas a los servicios del Sitio, como así también los programas,
                bases de datos, redes, archivos que permiten al usuario acceder y usar su cuenta (con excepción del
                Contenido que ha sido incorporado al Sitio por los usuarios) son de propiedad del IMFC y están
                protegidas por las leyes y los tratados internacionales de derecho de autor, marcas, patentes, modelos y
                diseños industriales. El uso indebido y la reproducción total o parcial de dichos contenidos quedan
                prohibidos, salvo autorización expresa y por escrito del IMFC.</p>
              <p><strong>7. Datos personales.</strong></p>
              <p>El IMFC utilizará sistemas idóneos para acreditar la pertinencia de las interacciones realizadas a
                través del Sitio, como también quedará facultado para realizar las modificaciones necesarias tendientes
                a preservar el carácter inalterable y confidencial de la información enviada y operaciones realizadas.
                En consecuencia, el IMFC asume la obligación de mantener la confidencialidad de dicha información, como
                así también la obligación de utilizarla exclusivamente para los fines previstos en el Sitio.</p>
              <p>El suministro o ingreso de cualquier información por parte del usuario al Sitio, se rige por las normas
                y reglamentaciones vigentes en materia de protección de datos personales (Ley 25.326 y complementarias).
              </p>
              <p>El usuario, como titular de los datos personales y de conformidad con lo establecido en la Ley de
                Protección de Datos Personales (ley 25.326), tiene la facultad de ejercer el derecho de acceso a los
                mismos en forma gratuita. Asimismo, tiene derecho a corregir los datos personales inexactos y a
                solicitar que los mismos sean eliminados de los registros en los cuales se encuentren almacenados. Para
                ello, el usuario deberá contactarse a <a href="mailto:soporte@essapp.coop">{{'soporte@essapp.coop'}}</a>
              </p>
              <p><strong>8. Suspensión.</strong></p>
              <p>El IMFC podrá suspender el acceso al Sitio a aquellos usuarios que infrinjan los presentes términos y
                condiciones o cualquier norma vigente vinculada con el Sitio, sin previo aviso. El IMFC podría verse
                obligado a suspender el Sitio en forma temporal, lo que deberá ser notificado oportunamente según sea
                predecible el evento que motiva la suspensión, no asumiendo las consecuencias del caso fortuito y/o
                fuerza mayor derivados de los eventos referidos.</p>
              <p>La suspensión del Sitio en forma definitiva podrá ser decidida por el IMFC y comunicada en forma previa
                con antelación suficiente, sin que ello genere derecho a reclamo alguno.&nbsp;</p>
              <p>Si la suspensión temporal o definitiva responde a una medida unilateral de la empresa de telefonía
                celular, de servicios de Internet u otra empresa responsable de transmitir la información, el IMFC no
                será responsable por las consecuencias derivadas de dicha suspensión; en rigor, tales suspensiones no
                son competencias del IMFC.</p>
              <p><strong>9. Modificación.</strong></p>
              <p>El IMFC se reserva el derecho de modificar los presentes términos y condiciones en cualquier momento.
                El IMFC notificará a través del Sitio, para conocimiento de los usuarios, las eventuales modificaciones
                y/o actualizaciones que se implementen en las presentes. En consecuencia, el usuario reconoce y acepta
                que es el único responsable de revisar los términos y condiciones en forma periódica. En caso de que el
                usuario no esté de acuerdo con alguna de las condiciones y/o modificaciones, podrá desvincularse del
                Sitio en forma inmediata.</p>
              <p><strong>10. Baja.</strong></p>
              <p>El usuario podrá desvincularse del Sitio, en cualquier momento, siguiendo el procedimiento que se
                describe a continuación solicitándolo por correo electrónico a <a
                  href="mailto:soporte@essapp.coop">{{'soporte@essapp.coop'}}</a> El IMFC podrá definir la baja del
                Sitio,
                situación que será notificada con suficiente antelación.</p>
              <p><strong>11. Jurisdicción.</strong></p>
              <p>Los términos y condiciones aquí descriptos y la relación existente entre el usuario y el IMFC se
                regirán por las leyes de la República Argentina. El usuario y el IMFC acuerdan someterse a la
                jurisdicción y competencia exclusiva de los tribunales de la Ciudad Autónoma de Buenos Aires,
                renunciando a cualquier otro tribunal que pudiere corresponder.</p>
              <p><strong>12. El Sitio es ofrecido dentro de estos términos y condiciones, los cuales el usuario acepta
                  al acceder por primera vez al Sitio.</strong></p>
            </div>
          </div>
        </div>
      </article>
    </div>


  </div>
</div>